

.wp-block-pars-teaser-block {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  grid-gap: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;

  article {
    border: 1px solid #ddd;

    .body {
      padding: 1rem;

      h3 {
        margin: 0.5rem 0;
        font-size: 1.3rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
